.navbar-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar-desktop {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-main {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-branding {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-navlink {
  display: contents;
}
.navbar-logo {
  width: 100px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.navbar-links {
  gap: var(--dl-space-space-threeunits);
  display: none;
  align-items: flex-start;
  padding-top: 12px;
  border-radius: 6px;
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: center;
}
.navbar-quick-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-link4 {
  display: contents;
}
.navbar-sign-up-btn {
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  text-decoration: none;
  background-color: #e03e2d;
}
.navbar-sign-up-btn:hover {
  background-color: rgba(173, 226, 223, 0.5);
}
.navbar-sign-up {
  font-style: normal;
  font-weight: 500;
}
.navbar-hamburger-menu {
  width: 20px;
  height: 12px;
  display: none;
}
.navbar-mobile {
  gap: var(--dl-space-space-fourunits);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  z-index: 200;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-image {
  width: 150px;
  object-fit: cover;
}
.navbar-icon {
  width: 28px;
  height: 28px;
}
.navbar-links1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.navbar-navlink1 {
  text-decoration: none;
}
.navbar-navlink2 {
  text-decoration: none;
}
.navbar-navlink3 {
  text-decoration: none;
}
.navbar-navlink4 {
  text-decoration: none;
}
.navbar-buttons {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.navbar-navlink5 {
  display: contents;
}
.navbar-btn {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ADE2DF;
}
.navbar-text {
  font-style: normal;
  font-weight: 500;
}
.navbar-navlink6 {
  display: contents;
}
.navbar-btn1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #ADE2DF;
}
.navbar-text1 {
  font-style: normal;
  font-weight: 500;
}

@media(max-width: 991px) {
  .navbar-navbar {
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .navbar-links {
    display: none;
  }
  .navbar-log-in {
    display: none;
  }
  .navbar-sign-up-btn {
    display: none;
  }
  .navbar-hamburger-menu {
    display: flex;
  }
  .navbar-root-class-name {
    margin-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    align-items: center;
  }
  .navbar-mobile {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .navbar-root-class-name {
    margin: 0px;
  }
}

.btn-apply-now-btn-apply-now {
  gap: var(--dl-space-space-halfunit);
  fill: white;
  color: white;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  text-decoration: none;
  background-color: #000000;
}
.btn-apply-now-btn-apply-now:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.btn-apply-now-caption {
  font-size: 2em;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.btn-apply-now-root-class-name {
  position: 0px;
}
@media(max-width: 991px) {
  .btn-apply-now-btn-apply-now {
    flex: 1;
  }
  .btn-apply-now-root-class-name {
    background-color: rgba(0, 0, 0, 0.95);
  }
}
@media(max-width: 479px) {
  .btn-apply-now-btn-apply-now {
    width: 100%;
  }
  .btn-apply-now-caption {
    font-size: 1.5em;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #000000;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-navlink {
  display: contents;
}
.footer-logo {
  width: 152px;
  height: 76px;
  object-fit: cover;
  text-decoration: none;
}
.footer-tiio-capital {
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}
.footer-socials {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-links {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  z-index: 15;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.footer-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-solutions {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.footer-hard-money-loans {
  color: #C4C4C4;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-hard-money-loans:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-fix-flip-loans {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-fix-flip-loans:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-creative-financing {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-creative-financing:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-attorney-support {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-attorney-support:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-title-escrow-for-investors {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-title-escrow-for-investors:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-column1 {
  gap: var(--dl-space-space-unit);
  display: none;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.footer-header {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.footer-link {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link1 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link1:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link2 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link2:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link3 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link3:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link4 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link4:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-link5 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
.footer-link5:hover {
  color: rgba(196, 196, 196, 0.5);
}
.footer-text {
  color: #C4C4C4;
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
}

@media(max-width: 1600px) {
  .footer-socials {
    display: none;
  }
  .footer-column1 {
    display: none;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-tiio-capital {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-socials {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    flex-direction: column;
  }
  .footer-solutions {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-header {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .footer-links {
    width: 100%;
    flex-direction: column;
  }
  .footer-root-class-name {
    margin-top: 50px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 9999;
  align-items: center;
  flex-direction: column;
}
.home-nav {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-images {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  transform: rotate(-30deg);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-column {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 100%;
  display: flex;
  overflow: visible;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-pasted-image {
  width: auto;
  height: auto;
  overflow: visible;
  align-self: center;
}
.home-column1 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 100%;
  display: flex;
  opacity: 0.5;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-pasted-image1 {
  width: 240px;
}
.home-pasted-image2 {
  width: 240px;
}
.home-column2 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 100%;
  display: flex;
  opacity: 0.5;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-pasted-image3 {
  flex: 0;
  width: auto;
  height: var(--dl-size-size-xxlarge);
}
.home-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  z-index: 20;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-title {
  text-align: center;
}
.home-text {
  line-height: 69px;
}
.home-caption {
  font-style: normal;
  text-shadow: 1px 1px 5px white;
}
.home-hero-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  z-index: 15;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-hero-text {
  padding: var(--dl-space-space-threeunits);
  background-color: rgba(255, 255, 255, 0.5);
}
.home-text07 {
  color: rgb(0, 0, 0);
  align-self: center;
  font-style: normal;
}
.home-text08 {
  color: rgb(0, 0, 0);
  width: auto;
}
.home-apply-now {
  flex: 1;
  width: 100%;
  z-index: 100;
  max-width: 1200px;
}
.home-get-started {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-application-tag {
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #D6F1F0;
}
.home-text09 {
  font-style: normal;
  font-weight: 500;
}
.home-text12 {
  color: rgb(0, 0, 0);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-application-form-code-embed {
  width: 100%;
  padding: var(--dl-space-space-unit);
  max-width: 1200px;
}
.home-faq-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.home-faq-tag {
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #D6F1F0;
}
.home-text13 {
  font-style: normal;
  font-weight: 500;
}
.home-faq-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text16 {
  width: 100%;
  max-width: 600px;
  align-self: center;
  font-style: normal;
  text-align: center;
}
.home-rows {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-column3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-title1 {
  color: rgb(0, 0, 0);
  align-self: center;
  font-style: normal;
}
.home-description {
  color: rgb(0, 0, 0);
  width: auto;
}
.home-title2 {
  color: rgb(0, 0, 0);
  align-self: center;
  font-style: normal;
}
.home-description1 {
  color: rgb(0, 0, 0);
  width: auto;
}
.home-question2 {
  border-bottom-width: 0px;
}
.home-title3 {
  color: rgb(0, 0, 0);
  align-self: center;
  font-style: normal;
}
.home-description2 {
  color: rgb(0, 0, 0);
  width: auto;
}
.home-column4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-question3 {
  border-right-width: 0px;
}
.home-title4 {
  color: rgb(0, 0, 0);
  align-self: center;
  font-style: normal;
}
.home-description3 {
  color: rgb(0, 0, 0);
  width: auto;
}
.home-question4 {
  border-right-width: 0px;
}
.home-title5 {
  color: rgb(0, 0, 0);
  align-self: center;
  font-style: normal;
}
.home-description4 {
  color: rgb(0, 0, 0);
  width: auto;
}
.home-question5 {
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-title6 {
  color: rgb(0, 0, 0);
  align-self: center;
  font-style: normal;
}
.home-description5 {
  color: rgb(0, 0, 0);
  width: auto;
}
@media(max-width: 1600px) {
  .home-images {
    height: 902px;
  }
  .home-pasted-image {
    width: var(--dl-size-size-xxlarge);
  }
  .home-pasted-image1 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-pasted-image3 {
    width: 100%;
    height: auto;
  }
  .home-application-form-code-embed {
    width: auto;
  }
}
@media(max-width: 991px) {
  .home-images {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 991px;
    bottom: 0px;
    height: 689px;
    z-index: 0;
    position: absolute;
    margin-top: 25%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-pasted-image {
    width: 200px;
  }
  .home-pasted-image1 {
    width: 200px;
  }
  .home-pasted-image2 {
    width: 200px;
  }
  .home-column2 {
    z-index: 0;
  }
  .home-pasted-image3 {
    width: 532px;
    height: 340px;
  }
  .home-hero-buttons {
    width: 100%;
  }
  .home-apply-now {
    margin-top: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .home-images {
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    position: absolute;
    align-items: center;
    flex-direction: row;
  }
  .home-pasted-image {
    flex: 0;
    width: var(--dl-size-size-large);
    align-self: center;
    margin-left: 90%;
  }
  .home-column1 {
    height: auto;
  }
  .home-text09 {
    font-size: 14px;
  }
  .home-text13 {
    font-size: 14px;
  }
  .home-rows {
    height: 100%;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-header {
    height: auto;
  }
  .home-images {
    width: auto;
    height: 874px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-column {
    width: 374px;
    height: 675px;
  }
  .home-pasted-image {
    width: 150px;
  }
  .home-pasted-image1 {
    width: 150px;
  }
  .home-pasted-image2 {
    width: 150px;
  }
  .home-pasted-image3 {
    width: auto;
    height: var(--dl-size-size-medium);
  }
  .home-content {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-title {
    line-height: .25;
  }
  .home-text {
    font-size: 40px;
    line-height: 69px;
  }
  .home-text01 {
    font-size: 32px;
    line-height: 1.15;
  }
  .home-caption {
    font-size: x-large;
  }
  .home-hero-buttons {
    width: 100%;
    flex-direction: column;
  }
  .home-hero-text {
    padding: var(--dl-space-space-unit);
  }
  .home-text07 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text08 {
    font-size: 1em;
  }
  .home-text09 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .home-text12 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-faq-content {
    gap: var(--dl-space-space-unit);
    padding-left: 5px;
    padding-right: 5px;
  }
  .home-title1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-description {
    font-size: 1em;
  }
  .home-title2 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-description1 {
    font-size: 1em;
  }
  .home-title3 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-description2 {
    font-size: 1em;
  }
  .home-title4 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-description3 {
    font-size: 1em;
  }
  .home-title5 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-description4 {
    font-size: 1em;
  }
  .home-title6 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-description5 {
    font-size: 1em;
  }
}
