<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-footer">
    <div class="footer-content">
      <div class="footer-information">
        <div class="footer-heading">
          <div class="footer-pasted-image">
            <img
              alt="image"
              src="/playground_assets/tiio_logo_rectangle-200h.png"
              class="footer-image"
            />
          </div>
          <span class="footer-text"><span>Tiio Capital, LLC</span></span>
        </div>
        <div class="footer-socials"></div>
      </div>
      <div class="footer-links">
        <div class="footer-column">
          <span class="footer-header"><span>Solutions</span></span>
          <span class="footer-link"><span>Hard Money Loans</span></span>
          <span class="footer-link01"><span>Fix & Flip Loans</span></span>
          <span class="footer-link02"><span>Creative Financing</span></span>
          <span class="footer-link03"><span>Attorney Support</span></span>
          <span class="footer-link04">
            <span>Title & Escrow for Investors</span>
          </span>
        </div>
        <div class="footer-column1">
          <span class="footer-header1"><span>Company</span></span>
          <span class="footer-link05"><span>About</span></span>
          <span class="footer-link06"><span>Team</span></span>
          <span class="footer-link07"><span>News</span></span>
          <span class="footer-link08"><span>Partners</span></span>
          <span class="footer-link09"><span>Careers</span></span>
          <span class="footer-link10"><span>Press & Media</span></span>
        </div>
      </div>
    </div>
    <span class="footer-text1">
      <span>© 2023 Tiio Capital, LLC. All Rights Reserved.</span>
    </span>
  </div>
</div>
