<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-footer">
    <div class="footer-content">
      <div class="footer-information">
        <div class="footer-heading">
          <a href="index.html" class="footer-navlink">
            <img
              alt="Tiio Capital Logo"
              src="498d8af2-fdc0-4218-83ab-82216a421c9f"
              class="footer-logo"
            />
          </a>
          <span class="footer-tiio-capital">
            <span>Tiio Capital, LLC</span>
          </span>
        </div>
        <div class="footer-socials"></div>
      </div>
      <div class="footer-links">
        <div class="footer-column">
          <span class="footer-solutions"><span>Solutions</span></span>
          <span class="footer-hard-money-loans">
            <span>Hard Money Loans</span>
          </span>
          <span class="footer-fix-flip-loans">
            <span>Fix & Flip Loans</span>
          </span>
          <span class="footer-creative-financing">
            <span>Creative Financing</span>
          </span>
          <span class="footer-attorney-support">
            <span>Attorney Support</span>
          </span>
          <span class="footer-title-escrow-for-investors">
            <span>Title & Escrow for Investors</span>
          </span>
        </div>
        <div class="footer-column1">
          <span class="footer-header"><span>Company</span></span>
          <span class="footer-link"><span>About</span></span>
          <span class="footer-link1"><span>Team</span></span>
          <span class="footer-link2"><span>News</span></span>
          <span class="footer-link3"><span>Partners</span></span>
          <span class="footer-link4">Careers</span>
          <span class="footer-link5"><span>Press & Media</span></span>
        </div>
      </div>
    </div>
    <span class="footer-text">
      <span>© 2023 Tiio Capital, LLC. All Rights Reserved.</span>
    </span>
  </div>
</div>
